    .mediam{

        margin-top: 5px;
    }
    h2{
        text-align: center;
    color: brown;
    }

    
.img11{
    flex-wrap: wrap;
    display: flex;
     justify-content: space-around;
    img{
        border-radius: 50%;
         
    }    
}
.img11 img:hover{
    border: 1px solid;
}
.carts{
    width: 30%;
    border-radius: 2opx;
    flex-wrap: wrap;
}
.cart1{
    width: 100%;
    
    
    
}
@mixin demo{color: brown;}
                           
.head2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    .h5{
        border: 2px solid rgb(235, 231, 231);
        h3{
            @include demo;
        }
    }
}
.head2 img:hover{
    border: 2px solid;
    flex-wrap: wrap;
}
.head4{
    display: flex;
    justify-content: space-around;
    gap:5px;
    margin-bottom: 30px;
}
.head3{
    border: 2px solid gray;
    h3{
        @include demo;
    }
   
}
@mixin blog{color: blue;}
.head3{
    p{
        @include blog;
    }
}
.head3:hover{
    border: 2px solid;
}


