.head{
   
   background-color: brown;
   height: 50px;
   text-align: center;
   text-transform: capitalize;
   font-style: italic;
   color: white;
    padding-top: 2px;
   
}
.navbar{
   margin: 0%;
   padding: 0%;
   align-items: center;
   display: flex;
   justify-content: space-around;
   gap:10px;
   border: 0px solid rgb(243, 238, 238);
   div{
      width: 60%;
      border: 0px solid rgb(255, 246, 246);
      padding: 10px;
      margin: 20px;
      background-color: rgb(251, 251, 255);
      border-radius: 1px;
   }
   div{
      input{
         background:transparent;
         border: 0px;
         outline: 0px;
         width: 95%;
      
   }
   
}
}
.head1{
   background-color: burlywood;
   height: 40px;
   padding: 5px;
   margin-top: -2px;
   ul{

     display: flex;
     justify-content: space-around;
     gap: 60px;
   
   }
}  
